image: rust:latest

stages:
  - lint
  - test
  - build
  - publish

cache:
  paths:
    - target/
    - $HOME/.cargo/registry/
    - $HOME/.cargo/git/

lint:
  stage: lint
  script:
    - cargo clippy -- -D warnings
  allow_failure: true

test:
  stage: test
  script:
    - cargo test

build:
  stage: build
  script:
    - cargo build --release
  artifacts:
    paths:
      - target/release/
    expire_in: 1 week

publish:
  stage: publish
  only:
    - /^v\d+\.\d+\.\d+$/
  except:
    - branches
  script:
    - cargo publish --token $CARGO_REGISTRY_TOKEN
